.priceCards {
  display: block;
  float: left;
  margin-left: 1em;
  margin-top: 1em;
  height: 100%;
  width: max-content;
}
.content {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.hiddenFeature {
  margin-left: 80vw;
}
