<body>
<mat-card>
  <mat-card-title>Before you start</mat-card-title>
  <img src="assets/images/settings2.png" alt="settings" class="img">
  <mat-card-content>
    <p>Voor het printen zijn een aantal instellingen nodig. Deze instellingen zijn onder: "more options" te vinden.</p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Stap 2</mat-card-title>
  <img src="assets/images/settings1.png" alt="settings" class="img">
  <mat-card-content>
    <p>zorg dat de instellingen overeen komen met de foto hierboven</p>
  </mat-card-content>
</mat-card>


</body>
