mat-card{
  margin: 1em 5em;
}

img{
  display: block;
  height: 60%;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  align-content: center;

}
mat-card-content{
  margin-top: 1em;
}
